body {
  font-size: 1.125em;
  line-height: 1.5em; }

h1 {
  font-size: 1.42383em;
  line-height: 1.0535em;
  margin-top: 2.107em;
  margin-bottom: 1.0535em; }

h2 {
  font-size: 1.26563em;
  line-height: 1.18519em;
  margin-top: 2.37037em;
  margin-bottom: 1.18519em; }

h3 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  margin-bottom: 1.33333em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

p, ul, ol, pre, table, blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/*
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
*/
.footer {
  font-size: 0.8em;
  line-height: 1.5em; }

h1, h2, h3, h4,
product-info product-title,
div.header-container {
  _text-transform: uppercase;
  font-weight: bold; }
