img.MicroNoteApi {
  display: block;
  max-width: 100%; }

a.MicroNoteApi.MicroNoteApi-FileDownloadLink {
  padding: 0.15em 0.25em;
  text-decoration: none;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  color: #222; }
  a.MicroNoteApi.MicroNoteApi-FileDownloadLink:focus, a.MicroNoteApi.MicroNoteApi-FileDownloadLink:hover {
    border-color: #444;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    background-color: #eee; }
