html, body {
  height: 100%;
  width: 100%;
  color: #3D3C40;
  background-color: #E9E9E9; }

html {
  overflow-y: scroll; }

body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

div#FullPageContainer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  div#FullPageContainer div.MainMenu {
    background-color: #4D394B;
    padding: 6px 20px 6px 20px; }
  div#FullPageContainer div.FooterBar {
    color: #664F65;
    line-height: 1rem;
    font-size: 1rem;
    padding: 6px 20px 6px 20px; }

div#FullPageContainer div.MainMenu {
  border-top: transparent solid 1px;
  border-bottom: black solid 1px; }
div#FullPageContainer div.main-content-container {
  border-top: #FFFFFF solid 1px;
  border-bottom: #664F65 solid 1px; }
div#FullPageContainer div.FooterBar {
  background-image: url("/css/images/arrow-undo-icon.png");
  border-top: #FFFFFF solid 1px;
  background-color: #D9D4D9; }

div#MenuBarInner2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #AB9BA9; }
  div#MenuBarInner2 div#MenuBar-Logo:hover {
    color: #D8D2D8;
    cursor: pointer; }
  div#MenuBarInner2 div#MenuBar-Logo div#MenuBar-LogoIcon {
    box-sizing: border-box;
    width: 1.8em;
    height: 1.8em;
    border: 1.5px solid transparent;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    line-height: 1.8em;
    text-align: center;
    border-color: #AB9BA9;
    margin-right: 4px;
    pointer-events: none; }
  div#MenuBarInner2 div#MenuBar-Logo div#MenuBar-LogoText {
    box-sizing: border-box;
    width: 1.8em;
    height: 1.8em;
    border: 1.5px solid transparent;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    line-height: 1.8em;
    text-align: center;
    width: auto;
    margin-right: 10px;
    pointer-events: none; }
  div#MenuBarInner2 div#MenuBar-PageTitle {
    box-sizing: border-box;
    width: 1.8em;
    height: 1.8em;
    border: 1.5px solid transparent;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    line-height: 1.8em;
    text-align: center;
    width: auto;
    color: #D3C1D3
    /*
    &:hover {
      color: $Menu_FullColor;
      cursor: pointer;
    }
    */ }
  div#MenuBarInner2 div.MenuBarButton,
  div#MenuBarInner2 div.MenuBarWideButton {
    box-sizing: border-box;
    width: 1.8em;
    height: 1.8em;
    border: 1.5px solid transparent;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    line-height: 1.8em;
    text-align: center;
    border-color: #AB9BA9; }
    div#MenuBarInner2 div.MenuBarButton:hover,
    div#MenuBarInner2 div.MenuBarWideButton:hover {
      color: #D8D2D8;
      cursor: pointer; }
    div#MenuBarInner2 div.MenuBarButton span.ButtonText,
    div#MenuBarInner2 div.MenuBarWideButton span.ButtonText {
      pointer-events: none; }
  div#MenuBarInner2 div.MenuBarWideButton {
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em; }

div#MenuBar-HomeButton {
  margin-right: 4px;
  background-image: url("/css/images/icon_home_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; }
  div#MenuBar-HomeButton:hover {
    opacity: 1; }

div#MenuBar-BackButton {
  margin-right: 4px;
  background-image: url("/css/images/icon_undo_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; }
  div#MenuBar-BackButton:hover {
    opacity: 1; }

div#MenuBar-ForwardButton {
  margin-right: 8px;
  background-image: url("/css/images/icon_redo_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; }
  div#MenuBar-ForwardButton:hover {
    opacity: 1; }

div#MenuBarInner2 div.CustomPageMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  div#MenuBarInner2 div.CustomPageMenu > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }
    div#MenuBarInner2 div.CustomPageMenu > div:last-of-type {
      margin-right: 0; }

div#FooterBarInner {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
