@mixin PopUpContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin MixInActiveButton {
  //box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 1px 1px rgba(0,0,0,0.9);
  box-shadow: 0 1px 0 #666, 0 1px 1px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}

.RiotDialog {
  //====== Base line styling ==========
  div.PopUpWrapper {
    @include PopUpContainer;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(20,20,20,0.85);
    width: 100%;
    height: 100%;

    div.DialogContainer {
      @include PopUpContainer;
      flex: 0 1 auto;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }
  }


  //====== Dialog styling ==========
  div.PopUpWrapper {
    div.DialogContainer {
      padding: 10px;

      div.DialogTitle {
        margin-bottom: 0.5em;
      }

      div.DialogMessage {
        margin-bottom: 0.5em;
      }

      ul.DialogButtons {
        padding: 0;
        margin: 0;
        list-style-position: outside;
        //background-color: green;
      }

      ul.DialogButtons li {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        background-color: transparent;
        line-height: 1em;
        font-size: 1em;
        padding: 0.5em 1em;
        margin-right: 0.5em;
        list-style-type:none;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          background-color: rgba(0,0,0,0.25);
        }
        &:active {
          @include MixInActiveButton;
        }
      }


      li.RiotDialogButton.delete {
        background-color: red;
        color: white;
        &:hover {
          background-color: rgba(255,0,0,0.5);
        }
      }

      li.RiotDialogButton.ok {
        background-color: #007FFF;
        color: white;
        &:hover {
          background-color: rgba(0,127,255,0.5);
        }
      }
    }
  }

  div.PopUpWrapper {
    div.DialogContainer {
      input.InputText {
        margin-top: -0.25em;
        margin-bottom: 0.5em;
      }
    }
  }
}

