$button-primary-color: #33C3F0;

@mixin active-button {
//box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 1px 1px rgba(0,0,0,0.9);
  box-shadow: 0 1px 0 #666, 0 1px 1px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  //height: 38px;
  //line-height: 38px;
  //height: 2em;
  line-height: 3em;
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .1rem;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: #888;
    color: #333;
    outline: 0;
  }

  &:active {
    @include active-button;
    background-color: rgba(128,128,128,0.2);
  }

  &.button-primary {
    background-color: $button-primary-color;
    border-color: $button-primary-color;
    color: #FFF;
  }

  &.button-primary:hover,
  &.button-primary:focus {
    background-color: darken($button-primary-color, 10%);
    border-color: darken($button-primary-color, 10%);
    color: #FFF;
  }

  &.button-primary:active {
    @include active-button;
    background-color: darken($button-primary-color, 25%);
    border-color: darken($button-primary-color, 25%);
    color: #FFF;
  }
}

.button * {
  pointer-events: none;
}

.button-inline {
  display: inline;
  cursor: pointer;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-standard {
  border-color: #9daca9;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  &:hover {
    background-color: #F5F6F6;
  }
}

.button.disabled,
.button-inline.disabled
  {
  pointer-events: none;
  opacity: 0.25;
}


