html, body {
  height: 100%;
  width: 100%;
  color: #3D3C40;
  background-color: #E9E9E9;
}

html {
  // always show scroll bars.
  overflow-y: scroll;
}

body {
  @include FGContainer;
}

div#FullPageContainer {
  flex: 1 0 auto;

  div.MainMenu {
    background-color: #4D394B;
    padding: 6px 20px 6px 20px;
  }

  div.main-content-container {
    //padding: 20px 20px 20px 20px;
  }

  div.FooterBar {
    color: #664F65;
    line-height: 1rem;
    font-size: 1rem;
    padding: 6px 20px 6px 20px;
  }
}



//==== Colours & General Styling ===============
div#FullPageContainer {
  div.MainMenu {
    border-top: transparent solid 1px;
    border-bottom: black solid 1px;
  }

  div.main-content-container {
    //border-bottom: #FFF3FF solid 1px;
    border-top: #FFFFFF solid 1px;
    border-bottom: #664F65 solid 1px;
  }
  div.FooterBar {
    background-image: url("/css/images/arrow-undo-icon.png");

    //border-top: #664F65 solid 1px;
    border-top: #FFFFFF solid 1px;
    background-color: #D9D4D9;
  }
}





