@mixin MenuBarElement {
  box-sizing: border-box;
  width: 1.8em;
  height: 1.8em;
  border: 1.5px solid transparent;
  //border-radius: 50%;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  // set line height to equey the element height to vertically
  // center a single line of text.
  // https://css-tricks.com/vertically-center-multi-lined-text/
  line-height: 1.8em;
  text-align: center;
}


$Menu_HalfColor: #AB9BA9;
$Menu_34Color: #D3C1D3;
$Menu_FullColor: #D8D2D8;

div#MenuBarInner2 {
  justify-content: space-between;
  color: $Menu_HalfColor;

  div#MenuBar-Logo {
    &:hover {
      color: $Menu_FullColor;
      cursor: pointer;
    }
    div#MenuBar-LogoIcon {
      @include MenuBarElement;
      border-color:  $Menu_HalfColor;
      margin-right: 4px;
      pointer-events: none;
    }
    div#MenuBar-LogoText {
      @include MenuBarElement;
      width: auto;
      margin-right: 10px;
      pointer-events: none;
    }
  }

  div#MenuBar-PageTitle {
    @include MenuBarElement;
    width: auto;
    color: $Menu_34Color;
    /*
    &:hover {
      color: $Menu_FullColor;
      cursor: pointer;
    }
    */
  }

  div.MenuBarButton,
  div.MenuBarWideButton {
    @include MenuBarElement;
    border-color:  $Menu_HalfColor;
    &:hover {
      color: $Menu_FullColor;
      cursor: pointer;
    }
    span.ButtonText {
      pointer-events: none;
    }
  }

  div.MenuBarWideButton {
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

div#MenuBar-HomeButton{
  margin-right: 4px;
  background-image: url("/css/images/icon_home_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

div#MenuBar-BackButton{
  margin-right: 4px;
  background-image: url("/css/images/icon_undo_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

div#MenuBar-ForwardButton{
  margin-right: 8px;
  background-image: url("/css/images/icon_redo_24.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}


//=== Layout for the custom page menu controls ===
div#MenuBarInner2 {
  div.CustomPageMenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    & > div {
      display: flex;
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}