/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

input,
body {
  /* line-height:1; */
  font-family: Georgia,serif;
  color: #313141; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul, ol {
  list-style-position: outside;
  margin-left: 1.5em; }

textarea {
  padding: 5px;
  border-radius: 2.5px;
  border-top: solid 1px #ABADB3;
  border-left: solid 1px #ABADB3;
  border-bottom: solid 1px #DBDFE6;
  border-right: solid 1px #DBDFE6; }

textarea:hover,
textarea:focus {
  border-top-color: #5794BF;
  border-left-color: #5794BF;
  border-bottom-color: #B7D5EA;
  border-right-color: #B7D5EA; }

html, body {
  height: 100%;
  width: 100%;
  color: #3D3C40; }

html {
  overflow-y: scroll; }

body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

menubar.MainMenuBar {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid lightgrey; }
  menubar.MainMenuBar div.MenuBarElement {
    box-sizing: content-box;
    width: 1.8em;
    height: 1.4em;
    border-radius: 3px;
    line-height: 1.4em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: auto; }
    menubar.MainMenuBar div.MenuBarElement:first-of-type {
      margin-left: 0; }
    menubar.MainMenuBar div.MenuBarElement:last-of-type {
      margin-right: 0; }
  menubar.MainMenuBar div.MenuBarFlexButton {
    box-sizing: content-box;
    width: 1.8em;
    height: 1.4em;
    border-radius: 3px;
    line-height: 1.4em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0 0.3em;
    margin-left: -0.05em;
    margin-right: -0.05em;
    width: auto;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    menubar.MainMenuBar div.MenuBarFlexButton:first-of-type {
      margin-left: 0; }
    menubar.MainMenuBar div.MenuBarFlexButton:last-of-type {
      margin-right: 0; }
    menubar.MainMenuBar div.MenuBarFlexButton:first-of-type {
      margin-left: -0.3em; }
    menubar.MainMenuBar div.MenuBarFlexButton:last-of-type {
      margin-right: -0.3em; }
    menubar.MainMenuBar div.MenuBarFlexButton span.ButtonText {
      pointer-events: none; }
    menubar.MainMenuBar div.MenuBarFlexButton:hover {
      background-color: black;
      color: white; }

docview {
  margin: 8px 10px 10px 10px; }
  docview h1 {
    font-size: 3.0625em;
    line-height: 1.22449em;
    margin-top: 0.40816em;
    margin-bottom: 0.40816em; }
  docview h2 {
    font-size: 1.5625em;
    line-height: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.8em; }
  docview h3 {
    font-size: 1.25em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em; }
  docview h4, docview h5, docview h6 {
    font-size: 1em;
    line-height: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 1.25em; }
  docview p, docview ul, docview ol, docview pre, docview table, docview blockquote {
    margin-top: 1.25em;
    margin-bottom: 1.25em; }
  docview code {
    color: #111;
    background-color: #eee;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono, DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif; }
  docview p code {
    padding-left: 0.25em;
    padding-right: 0.25em; }
  docview pre code {
    padding: 0.25em;
    display: block; }
  docview blockquote {
    background-color: #fff9e3;
    border-left: 2px solid #ffeb8e;
    padding: 0.5em;
    margin: 0; }
    docview blockquote > :first-child {
      margin-top: 0; }
    docview blockquote > :last-child {
      margin-bottom: 0; }
  docview ul ul,
  docview ul ol,
  docview ol ul,
  docview ol ol {
    margin-top: 0;
    margin-bottom: 0; }

docview > :first-child {
  margin-top: 0; }

docedit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 2px 10px 10px 10px; }
  docedit .docedit_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 13;
    -webkit-flex: 13 0;
        -ms-flex: 13 0;
            flex: 13 0;
    padding-right: 8px; }
  docedit div.FormButtonContainer input.Button {
    margin-right: 8px; }
  docedit textarea#DocTextEdit {
    margin-bottom: 8px;
    resize: none; }
  docedit docedit_sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 6;
    -webkit-flex: 6 0;
        -ms-flex: 6 0;
            flex: 6 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    docedit docedit_sidebar div#dropzone1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 6;
      -webkit-flex: 6 0;
          -ms-flex: 6 0;
              flex: 6 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      docedit docedit_sidebar div#dropzone1 div.FileBrowserContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0;
            -ms-flex: 1 0;
                flex: 1 0;
        border-radius: 2.5px;
        border-top: solid 1px #ABADB3;
        border-left: solid 1px #ABADB3;
        border-bottom: solid 1px #DBDFE6;
        border-right: solid 1px #DBDFE6; }
      docedit docedit_sidebar div#dropzone1 div.FileBrowserContainer:hover,
      docedit docedit_sidebar div#dropzone1 div.FileBrowserContainer:focus {
        border-top-color: #5794BF;
        border-left-color: #5794BF;
        border-bottom-color: #B7D5EA;
        border-right-color: #B7D5EA; }
      docedit docedit_sidebar div#dropzone1 div.DropHereMessage {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1;
            -ms-flex: 0 1;
                flex: 0 1;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        line-height: 20px;
        margin-top: 8px;
        border-top: 1px dashed #A29A98;
        border-left: 1px dashed #A29A98;
        border-right: 1px dashed #A29A98;
        border-bottom: 1px dashed #A29A98;
        border-radius: 2.5px; }
        docedit docedit_sidebar div#dropzone1 div.DropHereMessage > div {
          padding-top: 6px;
          padding-bottom: 6px;
          text-align: center;
          width: 100%;
          font-size: 0.85em;
          opacity: 0.87; }
          docedit docedit_sidebar div#dropzone1 div.DropHereMessage > div:hover {
            opacity: 1; }
      docedit docedit_sidebar div#dropzone1 input.component-uploadfile-fileinput {
        display: none; }

docedit_filebrowser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }
  docedit_filebrowser ul.FileItemList {
    margin-left: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box; }
    docedit_filebrowser ul.FileItemList li {
      position: relative;
      line-height: 1.6em;
      border-top: solid 1px #f0f0f0; }
    docedit_filebrowser ul.FileItemList li.FileItem div.FileIcon {
      pointer-events: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    docedit_filebrowser ul.FileItemList li.FileItem div.FileName {
      display: inline-block;
      pointer-events: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    docedit_filebrowser ul.FileItemList li.FileItem:last-of-type {
      border-bottom: solid 1px #f0f0f0; }
    docedit_filebrowser ul.FileItemList li.FileItem:hover {
      background-color: #f5f5f5; }
    docedit_filebrowser ul.FileItemList li.NoFilesFound {
      text-align: center;
      opacity: 0.5;
      font-style: italic;
      font-size: 0.8em;
      margin-top: 5px; }
  docedit_filebrowser div.FileButtons {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  docedit_filebrowser button,
  docedit_filebrowser button:active,
  docedit_filebrowser button:focus,
  docedit_filebrowser button:hover {
    display: inline-block;
    background-color: transparent;
    border: none; }
  docedit_filebrowser button {
    width: 2em;
    height: 100%;
    opacity: 0.1; }
  docedit_filebrowser li.FileItem:hover button {
    opacity: 0.5; }
    docedit_filebrowser li.FileItem:hover button:hover {
      opacity: 1;
      background-color: red; }
  docedit_filebrowser button.FileDeleteButton {
    background-size: 32px 32px;
    background-image: url("/vendor/ModernIcons/WindowsPhone/svg/appbar.delete.svg");
    background-position: center; }

page-settings-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none; }
  page-settings-menu .PopupMenu {
    pointer-events: auto;
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.3); }
    page-settings-menu .PopupMenu > ul {
      list-style-type: none;
      margin: 0;
      padding: 6px; }
      page-settings-menu .PopupMenu > ul li {
        padding: 2px 6px;
        cursor: pointer;
        border-radius: 2px; }
      page-settings-menu .PopupMenu > ul li:hover {
        background-color: #83D3FB; }
      page-settings-menu .PopupMenu > ul li.danger:hover {
        background-color: #F7616B; }
      page-settings-menu .PopupMenu > ul li.DisabledMenuItem {
        background-color: transparent;
        color: lightgrey;
        pointer-events: none; }

/*# sourceMappingURL=site_style.css.map */