<!-- <link href='http://fonts.googleapis.com/css?family=Noto+Sans:700' rel='stylesheet' type='text/css'> -->
<!-- <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'> -->

<!-- re-enable the foot request here when uploading to the web server -->
<!--  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'> -->


<!-- ==============================================================
    IMPORTANT: Load all fonts before including any script tags.
    Scripts before fonts will cause a slowdown in IE.
    http://www.stevesouders.com/blog/2009/10/13/font-face-and-performance/
============================================================== -->

<!--
<script src="/js/concated.js"></script>
-->

<!-- Third party libs -->
<!--
-->
<script src="/js/lib/standard.js"></script>
<script src="/js/lib/ajax_utils.js"></script>
<script src="/js/lib/strings.js"></script>
<script src="/js/vendor/jquery-1.11.2.js"></script>
<script src="/js/vendor/jquery.serialize-object.js"></script>
<script src="/js/vendor/jquery.wait.js"></script>
<script src="/js/vendor/jquery.ajax-form.js"></script>
<script src="/js/vendor/jquery.hotkeys.js"></script>
<script src="/js/vendor/jquery.filebrowser.js"></script>
<script src="/js/vendor/jquery.insertAtCaret.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/interact/interact.js"></script>
<script src="/js/vendor/venobox/venobox.min.js"></script>
<script src="/js/vendor/mustache/mustache.js"></script>
<script src="/js/vendor/filedrop/filedrop.js"></script>
<script src="/js/vendor/sprintf/sprintf.js"></script>
<script src="/js/vendor/mozilla/cookie.js"></script>
<script src="/js/vendor/golib/path-filepath.js"></script>
<script src="/js/vendor/vam/querystringinterface/querystringinterface.js"></script>

<script src="/vendor/masonry/masonry.pkgd.js"></script>

<script src="/vendor/history/jquery.history.js"></script>


<!-- Custom libs -->
<!--
-->
<script src="/js/config.js"></script>


<!-- components -->
<!--
-->
<script src="/widgets/filebrowser/comp.filebrowser.js"></script>
<script src="/widgets/popup_dialog/MessageDialog.js"></script>
<script src="/widgets/popup_dialog/InputDialog.js"></script>
<script src="/widgets/popup_dialog/PopupDialogs.js"></script>



<script src="/js/server_commands.js"></script>


<script src="/js/menu_bar.js"></script>

<!-- Site specific -->
<script src="http://localhost:35729/livereload.js"></script>









