{{ "<!--[if lt IE 7]>" | safeHtml }}
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
{{ "<![endif]-->" | safeHtml }}

{{ "<!--[if IE 7]>" | safeHtml }}
<html class="no-js lt-ie9 lt-ie8" lang="">
{{ "<![endif]-->" | safeHtml }}

{{ "<!--[if IE 8]>" | safeHtml }}
<html class="no-js lt-ie9" lang="">
{{ "<![endif]-->" | safeHtml }}

{{ "<!--[if gt IE 8]><!-->" | safeHtml }}
<html class="no-js" lang="">
{{ "<!--<![endif]-->" | safeHtml }}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">

    <!-- ==== Style Sheets ==== -->
    <link rel="stylesheet" href="/css/vam_style.css">
    <link rel="stylesheet" href="/css/site_style.css">

    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/comp.filebrowser.css">
    <link rel="stylesheet" href="/css/comp.uploadfile.css">
    <link rel="stylesheet" href="/css/base_text.css">
    <link rel="stylesheet" href="/css/flexgrid.css">
    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/base_style.css">
    <link rel="stylesheet" href="/css/ktext.css">

    <!-- ==== third party style sheets ===== -->
    <link rel="stylesheet" href="/css/vendor/venobox/venobox.css">
    <link rel="stylesheet" href="/css/vendor/elusive-icons/css/elusive-icons.css">

    <link rel="stylesheet" href="/css/page_doc.css">
</head>