<div id="MenuBarInner2" class="FGColumns FGCellGrow">
    <div class="FGCell FGColumns">
        <!--
        <div id="MenuBar-Logo" class="FGCell FGColumns">
            <div id="MenuBar-LogoIcon">M</div>
        </div>
        -->
        <div id="MenuBar-HomeButton" class="MenuBarButton"></div>
        <div id="MenuBar-BackButton" class="MenuBarButton"></div>
        <!-- <div id="MenuBar-ForwardButton" class="MenuBarButton"></div> -->
        <div id="MenuBar-PageTitle" class="FGCell"></div>
    </div>
    <div class="FGCell">

        {{ if isset .Params "custom_menu" }}
        {{ .Params.custom_menu | safeHtml }}
        {{end}}

        <!-- NOTE: Temporarily hide the menu button. We'll use it later. -->
        <div class="MenuBarButton hidden">
            <!--
              http://www.fileformat.info/info/charset/UTF-8/list.htm
              http://mottie.github.io/Unicode/
            -->
            <!-- The span below inserts three "message waiting" characters -->
            <span class="ButtonText">&#x0095&#x0095&#x0095</span>
        </div>
    </div>
</div>