page-settings-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  //z-index: 10;

  .PopupMenu {
    pointer-events: auto;
    display: inline-block;
    position: absolute;

    background-color: white;

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.3);

    &>ul{
      list-style-type: none;
      margin: 0;
      padding: 6px;

      li {
        padding: 2px 6px;
        cursor: pointer;
        border-radius: 2px;
      }
      li:hover {
        background-color: #83D3FB;
      }
      li.danger:hover {
        background-color: #F7616B;
      }

      li.DisabledMenuItem {
        background-color: transparent;
        color: lightgrey;
        pointer-events: none;
      }
    }
  }
}