[data-component="inline-button"] {
  display: inline-block;
  background-color: lightgray;
  cursor: pointer;
  border-radius: .125rem;
  & :first-child {
    margin-left: var(--spacing-extra-small);
  }
  & > * {
    margin-right: var(--spacing-extra-small);
  }
}