$InternalMarginSize: 8px;

docedit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex: 1 0 auto;

  margin: 2px 10px 10px 10px;

  .docedit_main {
    flex-direction: column;
    display: flex;
    flex: 13 0;
    padding-right: $InternalMarginSize;
  }

  div.FormButtonContainer {
    input.Button {
      margin-right: $InternalMarginSize;
    }
  }

  textarea#DocTextEdit {
    margin-bottom: $InternalMarginSize;
    resize: none;
  }

  docedit_sidebar {
    display: flex;
    flex: 6 0;
    flex-direction: column;

    div#dropzone1 {
      display: flex;
      flex: 6 0;
      flex-direction: column;
      justify-content: space-between;

      div.FileBrowserContainer {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        border-radius: 2.5px;
        border-top: solid 1px #ABADB3;
        border-left: solid 1px #ABADB3;
        border-bottom: solid 1px #DBDFE6;
        border-right: solid 1px #DBDFE6;
      }

      div.FileBrowserContainer:hover,
      div.FileBrowserContainer:focus {
        border-top-color: #5794BF;
        border-left-color: #5794BF;
        border-bottom-color: #B7D5EA;
        border-right-color: #B7D5EA;
      }

      // Check "Sifter" bug tracker for an example on how to style this message.
      // look at the file upload bar.
      div.DropHereMessage {
        display: flex;
        flex: 0 1;
        cursor: pointer;
        user-select: none;

        //background-color: #F1EEEE;
        line-height: 20px;
        //padding-top: $InternalMarginSize + 1 + 6px;
        margin-top: $InternalMarginSize;

        border-top: 1px dashed #A29A98;
        border-left: 1px dashed #A29A98;
        border-right: 1px dashed #A29A98;
        border-bottom: 1px dashed #A29A98;
        //margin-right: 10px;
        //margin-left: 10px;
        border-radius: 2.5px;

        &>div {
          padding-top: 6px;
          padding-bottom: 6px;
          text-align: center;
          width: 100%;
          font-size: 0.85em;
          opacity: 0.87;
          &:hover{
            opacity: 1;
          }
        }

      }

      input.component-uploadfile-fileinput {
        display:none;
      }
    }
  }
}


