// ==========================================================
//    Calculate text size for consistent vertical rhythm.
// ==========================================================
// Use grid-lover to calculate vertical text rhythm
// http://www.gridlover.net/app/

$base-font-size: 1em;
$base-line-height: 1.25em;
$measure: 760px;

$h1-font-size: 3.0625em;
$h1-line: 0.408163265em;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 1 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 1.5625em;
$h2-line: 0.8em;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 1 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.25em;
$h3-line: 1em;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 1em;
$h4-line: 1.25em;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;



docview {
  margin: 8px 10px 10px 10px;


  h1 {
    font-size:     $h1-font-size;
    line-height:   $h1-line-height;
    margin-top:    $h1-margin-top;
    margin-bottom: $h1-margin-bottom;
  }

  h2 {
    font-size:     $h2-font-size;
    line-height:   $h2-line-height;
    margin-top:    $h2-margin-top;
    margin-bottom: $h2-margin-bottom;
  }

  h3 {
    font-size:     $h3-font-size;
    line-height:   $h3-line-height;
    margin-top:    $h3-margin-top;
    margin-bottom: $h3-margin-bottom;
  }

  h4 {
    font-size:     $h4-font-size;
    line-height:   $h4-line-height;
    margin-top:    $h4-margin-top;
    margin-bottom: $h4-margin-bottom;
  }

  p, ul, ol, pre, table, blockquote {
    margin-top:    $base-line-height;
    margin-bottom: $base-line-height;
  }

}

docview > :first-child {
  margin-top: 0;
}