<div class="VamPopUp_Container">
    <div class="VamPopUp_DialogContainer">
        <div class="VamPopUp-Content">
            {{#DialogTitle}}
            <div class="VamPopUp-DialogTitle">{{{DialogTitle}}}</div>
            {{/DialogTitle}}

            {{#DialogMessage}}
            <div class="VamPopUp-DialogMessage">{{{DialogMessage}}}</div>
            {{/DialogMessage}}

            <input type="text" value="{{InputText}}" class="VamPopUp-InputText">

            <ul class="VamPopUp-DialogButtons">
                <!-- HACK: Add comment strings between li elements to prevent spaces in the
                final layout. -->
                <!--
                {{#Buttons}}
                    --><li class="VamPopUp-DialogButton {{type}}" data-tag="{{tag}}">{{caption}}</li><!--
                {{/Buttons}}
                -->
            </ul>
        </div>
    </div>
</div>