docedit_filebrowser {
  display: flex;
  flex: 0 1;

  ul.FileItemList {
    margin-left: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    //border: 1px solid black;


    li {
      position: relative;
      line-height: 1.6em;
      border-top: solid 1px #f0f0f0;
    }
    li.FileItem {
      & div.FileIcon{
        pointer-events: none;
        user-select: none;
      }
      & div.FileName {
        display: inline-block;
        //background-color: red;
        pointer-events: none;
        user-select: none;
      }
      &:last-of-type {
        border-bottom: solid 1px #f0f0f0;
      }
      &:hover {
        background-color: #f5f5f5;
      }
    }
    li.NoFilesFound {
      text-align: center;
      opacity: 0.5;
      font-style: italic;
      font-size: 0.8em;
      margin-top: 5px;
    }
  }

  div.FileButtons {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    user-select: none;
  }

  // reset the button styling.
  button,
  button:active,
  button:focus,
  button:hover {
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  button {
    width: 2em;
    height: 100%;
    opacity: 0.1;
  }

  li.FileItem:hover button {
    opacity: 0.5;
    &:hover {
      opacity: 1;
      background-color: red;
    }
  }

  button.FileDeleteButton {
    background-size: 32px 32px;
    background-image: url('/vendor/ModernIcons/WindowsPhone/svg/appbar.delete.svg');
    background-position: center;
  }
}