<div class="DocEditArea">
    <form id="DocEditForm" >
        <div class="hidden form-error-message"></div>
        <div class="hidden form-success-message"></div>
        <div class="form-group DocTextEditContainer">
            <textarea id="DocTextEdit" name="DocText"></textarea>
        </div>
        <div class="form-group FormButtonContainer">
            <input class="button button-primary" type="submit" name="save" value="Save Changes">
            <input class="button" type="submit" name="cancel" value="Cancel">
        </div>
    </form>
</div>