<div class="PageListingContainer">
    <div class="PageGrid">
        {{#pages}}
        <div class="PageGridItem" data-href="{{href}}">
            {{#firstImage}}
              <img src="{{firstImage}}" />
            {{/firstImage}}

            {{#firstHeading}}
              <h3>{{firstHeading}}</h3>
            {{/firstHeading}}

            {{#firstParagraph}}
              <p>{{firstParagraph}}</p>
            {{/firstParagraph}}
            <hr />
            <div class="PageName">{{pagename}}</div>
        </div>
        {{/pages}}
    </div>
</div>